// Global styling for this template
html{
  height: 100%;
}
body {
  height: 100%;
  @include body-font;
  padding-top: 54px;
  color: $gray-900;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
    background-color: $gray-100;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 500;
  text-transform: uppercase;
  color: $gray-900;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

h5 {
  font-size: .9rem;
  margin-bottom: 1rem;
}

p{
  font-size: 15px;
  color: $gray-600;
  line-height: 1.5em;
}

